<% provide(:title, 'タイムテーブル確認') %>
<div class="container">

  <h1></h1>
  <h2>この内容でよろしいですか？</h2>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <table class="timetable-confirm">
        <tr><%= @timetable_date.html_safe %></tr>
        <% @timetable.times.lines do |timetable_time| %>
          <% unless timetable_time.blank? %>
            <tr><th><%= my_truncate(timetable_time, 30) %></th><%= @space_cell.html_safe %></tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="submit-btn">
        <%= link_to "作成", publish_timetable_user_timetable_path(current_user, @timetable), class: "btn btn-block btn-primary" %>
      </div>
      <%= link_to "修正", edit_user_timetable_path(current_user, @timetable), class: "btn btn-block", id: "fix-btn" %>
    </div>
  </div>
</div>