<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 nopadding">
  <%= form_for(@notification) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :message, "お知らせ内容" %>
    <%= f.text_area :message, rows: 5, class: 'form-control'  %>

    <%= f.submit "登録", class: "btn btn-primary" %>
  <% end %>

</div>
