<% provide(:title, 'Mailing list confirm') %>
<h1>Mailing list confirm</h1>
<h2>この内容でよろしいですか？</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <%= label :name, "名前" %>
      <div class="confirm-text"><%= @mailing_list.name %></div>
    </p>
    
    <p>
      <%= label :title, "メールタイトル" %>
      <div class="confirm-text"><%= @mailing_list.title %></div>
    </p>
    
    <p>
      <%= label :send_to, "メール送信先" %>
      <div class="confirm-text">
        <% if @mailing_list.enrolled && @mailing_list.graduated %>
          在校生・卒業生
        <% elsif @mailing_list.enrolled %>
          在校生
        <% elsif @mailing_list.graduated  %>
          卒業生
        <% end %>
      </div>
    </p>
    
    <p>
      <%= label :text, "メール本文" %>
      <div class="confirm-text"><%= @mailing_list.content %></div>
    </p>
    
    <div id="submit-btn">
      <%= link_to "送信", send_ml_user_mailing_list_path(current_user, @mailing_list), class: "btn btn-block btn-primary" %>
    </div>
    <%= link_to "修正", edit_user_mailing_list_path(current_user), class: "btn btn-block", id: "fix-btn" %>
  </div>
</div>
