<% provide(:title, '過去のメール') %>
<div class="container">

  <h1></h1>
  <h2>過去3年分のメールが確認できます</h2>

  <!-- 検索フォーム -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <%= search_form_for(@q, url: user_mailing_lists_path(current_user)) do |f| %>
        <%= f.search_field :from_name_or_title_or_content_cont, class: 'form-control', placeholder: "検索キーワードを入力してください" %>
        <%= f.submit '検索', class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div><!-- row -->

  <div class="center row">
    <%= paginate @mailing_lists %>
  </div>

  <ul class="index row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 nopadding">
      <%= render @mailing_lists %>
    </div>
  </ul>

  <div class="center row">
    <%= paginate @mailing_lists %>
  </div>

</div><!-- container -->