<% provide(:title, '有効化メール再送信') %>
<h1></h1>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <%= form_for(:resend, url: account_activations_path) do |f| %>
      
        <%= f.label :email, "登録したメールアドレス" %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "登録したパスワード" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "登録したパスワード(確認用)" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "アカウント有効化メール再送信", class: "btn btn-primary" %>
      <% end %>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->