<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <div class="row">
    <div class="col-xs-10">
      <% if logged_in? && current_user.admin? %>
        <%= link_to "WhtieBoard<span class='beta'>試用期間中</span><span id='admin-sign'>Admin</span>".html_safe, root_path, id: "logo" %>
      <% else %>
        <%= link_to "WhtieBoard<span class='beta'>試用期間中</span>".html_safe, root_path, id: "logo" %>
      <% end %>
    </div>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <label class="toggle" for="open">
          <div id="sm-menu-icon" onClick="open_menu();"><span></span><span></span><span></span></div>
        </label>
        <input id="open" type="checkbox" autocomplete="off">
        <div id="menu">
          <nav>
            <ul>
              <% if logged_in? %>
                <% unless Timetable.where(published: true).last.nil? %>
                  <li><%= link_to "タイムテーブル", user_timetable_path(current_user, Timetable.where(published: true).last) %></li>
                <% end %>
                <% if current_user.admin? %>
                  <li><%= link_to "タイムテーブル作成", new_user_timetable_path(current_user) %></li>
                <% end %>
                <li><%= link_to "サークルメンバー", users_path %></li>
                <li><%= link_to "サークルメール", new_user_mailing_list_path(current_user) %></li>
                <li><%= link_to "プロフィール確認", current_user %></li>
                <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
                <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "ログイン", login_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
  </div><!-- row -->
  </div><!-- container -->
</header>
